.anchorPane {
    -fx-background-color: #F0F4F7;
}

.mainPanel {
    -fx-background-color: #1E1E1E;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: transparent;
}

.germany, .france, .usa, .unitedkingdom {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.flagSize {
    -fx-fit-width: 65px;
    -fx-fit-height: 45px;
}

.button:hover .flagSize {
    -fx-effect: dropshadow(gaussian, #4CAF50, 6, 0.8, 0, 0);
}

.logoutButton, .orderHistoryButton {
    -fx-pref-width: 220px;
    -fx-max-width: 220px;
    -fx-min-width: 220px;
    -fx-background-color: #A9A9A9;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0, 0, 1);
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8px;
    -fx-font-size: 13px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.logoutButton:hover {
    -fx-background-color: #808080;
}

.orderHistoryButton:hover {
    -fx-background-color: #808080;
}